<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adam Penno</title>
    <link rel="stylesheet" href="CSS/style.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Open+Sans&display=swap');
    </style>
  </head>
  <body>
    <header>
      <h1>Adam Penno</h1>
      <h2>Junior Developer</h2>
      <img src="#" alt="">
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Resume</a></li>
        <li><a href="#">Projects</a></li>
      </ul>
    </nav>
    <main>
      <p>Personal Statement</p>
    </main>
    <footer>
      <ul>
        <li><a href="https://www.linkedin.com/in/adam-penno/">LinkedIn</a></li>
        <li><a href="https://github.com/Onneqq">GitHub</a></li>
      </ul>
    </footer>
  </body>
</html>
